body{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    margin-top: 12px;
    border: 1px solid black;
    height: 80px;
    width: 360px;
    display: flex;
    justify-content: center;
}